<a href="https://colab.research.google.com/github/ahmedmujtaba99/AI_LAB/blob/main/ahmed_mujtaba_sms_spam.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [49]:
import numpy as np
import pandas as pd

In [50]:
df = pd.read_csv("spam.csv", encoding="latin-1") 
df

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN
...,...,...,...,...,...
5567,spam,This is the 2nd time we have tried 2 contact u...,NaN,NaN,NaN
5568,ham,Will Ì_ b going to esplanade fr home?,NaN,NaN,NaN
5569,ham,"Pity, * was in mood for that. So...any other s...",NaN,NaN,NaN
5570,ham,The guy did some bitching but I acted like i'd...,NaN,NaN,NaN
5571,ham,Rofl. Its true to its name,NaN,NaN,NaN

In [3]:
df['v1'] = df.v1.map({'ham':0, 'spam':1})
df

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,0,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,0,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,1,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,0,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,0,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN
...,...,...,...,...,...
5567,1,This is the 2nd time we have tried 2 contact u...,NaN,NaN,NaN
5568,0,Will Ì_ b going to esplanade fr home?,NaN,NaN,NaN
5569,0,"Pity, * was in mood for that. So...any other s...",NaN,NaN,NaN
5570,0,The guy did some bitching but I acted like i'd...,NaN,NaN,NaN
5571,0,Rofl. Its true to its name,NaN,NaN,NaN

In [4]:
df.head(10)

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,0,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,0,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,1,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,0,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,0,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN
5,1,FreeMsg Hey there darling it's been 3 week's n...,NaN,NaN,NaN
6,0,Even my brother is not like to speak with me. ...,NaN,NaN,NaN
7,0,As per your request 'Melle Melle (Oru Minnamin...,NaN,NaN,NaN
8,1,WINNER!! As a valued network customer you have...,NaN,NaN,NaN
9,1,Had your mobile 11 months or more? U R entitle...,NaN,NaN,NaN

In [5]:
df.tail(10)

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
5562,0,Ok lor... Sony ericsson salesman... I ask shuh...,NaN,NaN,NaN
5563,0,Ard 6 like dat lor.,NaN,NaN,NaN
5564,0,Why don't you wait 'til at least wednesday to ...,NaN,NaN,NaN
5565,0,Huh y lei...,NaN,NaN,NaN
5566,1,REMINDER FROM O2: To get 2.50 pounds free call...,NaN,NaN,NaN
5567,1,This is the 2nd time we have tried 2 contact u...,NaN,NaN,NaN
5568,0,Will Ì_ b going to esplanade fr home?,NaN,NaN,NaN
5569,0,"Pity, * was in mood for that. So...any other s...",NaN,NaN,NaN
5570,0,The guy did some bitching but I acted like i'd...,NaN,NaN,NaN
5571,0,Rofl. Its true to its name,NaN,NaN,NaN

In [6]:
df.describe()

                v1
count  5572.000000
mean      0.134063
std       0.340751
min       0.000000
25%       0.000000
50%       0.000000
75%       0.000000
max       1.000000

In [7]:
print(df.isnull().sum())

v1               0
v2               0
Unnamed: 2    5522
Unnamed: 3    5560
Unnamed: 4    5566
dtype: int64

In [8]:
df.v2 = df.v2.fillna("unknown")
df.v1 = df.v1.fillna("unknown")
print(df.isnull().sum())

v1               0
v2               0
Unnamed: 2    5522
Unnamed: 3    5560
Unnamed: 4    5566
dtype: int64

In [9]:
print(df.shape)
print("\n")
print(df.dtypes)

(5572, 5)


v1             int64
v2            object
Unnamed: 2    object
Unnamed: 3    object
Unnamed: 4    object
dtype: object

In [10]:
df.info()
print('_'*40)
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5572 entries, 0 to 5571
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   v1          5572 non-null   int64
 1   v2          5572 non-null   object
 2   Unnamed: 2  50 non-null     object
 3   Unnamed: 3  12 non-null     object
 4   Unnamed: 4  6 non-null      object
dtypes: int64(1), object(4)
memory usage: 217.8+ KB
________________________________________

NameError: ignored

In [14]:
X = df['v2']
y = df['v1']

In [16]:
import re
df.dropna(subset=['v2'])
X = df['v2']
y = df['v1']

In [17]:
X = X.apply(lambda text: re.sub(r'\b\d+\b', '', text))

In [18]:
X = X.apply(lambda text: re.sub(r'\s+', ' ', text.strip()))

In [19]:
X = X.str.lower()

In [11]:
X= df['v2'].to_numpy()
y = df['v1'].to_numpy()
y = y.astype('int')

In [20]:
print("X")
print(X)
print("y")
print(y)

X
0       go until jurong point, crazy.. available only ...
1                           ok lar... joking wif u oni...
2       free entry in a wkly comp to win fa cup final ...
3       u dun say so early hor... u c already then say...
4       nah i don't think he goes to usf, he lives aro...
                              ...
5567    this is the 2nd time we have tried contact u. ...
5568                will ì_ b going to esplanade fr home?
5569    pity, * was in mood for that. so...any other s...
5570    the guy did some bitching but i acted like i'd...
5571                           rofl. its true to its name
Name: v2, Length: 5572, dtype: object
y
0       0
1       0
2       1
3       0
4       0
       ..
5567    1
5568    0
5569    0
5570    0
5571    0
Name: v1, Length: 5572, dtype: int64

In [22]:
from sklearn.feature_extraction.text import CountVectorizer

vector = CountVectorizer(stop_words='english')
# vec = CountVectorizer()

In [23]:
vec.fit(X)
vec.vocabulary_

{'go': 2985,
 'until': 7465,
 'jurong': 3785,
 'point': 5355,
 'crazy': 1762,
 'available': 738,
 'only': 4972,
 'in': 3522,
 'bugis': 1186,
 'great': 3069,
 'world': 7924,
 'la': 3911,
 'buffet': 1184,
 'cine': 1483,
 'there': 7080,
 'got': 3029,
 'amore': 504,
 'wat': 7702,
 'ok': 4939,
 'lar': 3947,
 'joking': 3753,
 'wif': 7827,
 'oni': 4968,
 'free': 2793,
 'entry': 2384,
 'wkly': 7882,
 'comp': 1600,
 'to': 7191,
 'win': 7840,
 'fa': 2522,
 'cup': 1821,
 'final': 2642,
 'tkts': 7178,
 '21st': 80,
 'may': 4365,
 'text': 7030,
 'receive': 5732,
 'question': 5625,
 'std': 6665,
 'txt': 7368,
 'rate': 5677,
 'apply': 591,
 '08452810075over18': 6,
 'dun': 2237,
 'say': 6068,
 'so': 6459,
 'early': 2258,
 'hor': 3362,
 'already': 477,
 'then': 7075,
 'nah': 4673,
 'don': 2147,
 'think': 7095,
 'he': 3216,
 'goes': 2993,
 'usf': 7510,
 'lives': 4100,
 'around': 642,
 'here': 3266,
 'though': 7115,
 'freemsg': 2800,
 'hey': 3276,
 'darling': 1878,
 'it': 3653,
 'been': 895,
 'week': 7748,
 'now': 4855,
 'and': 519,
 'no': 4802,
 'word': 7915,
 'back': 786,
 'like': 4050,
 'some': 6474,
 'fun': 2854,
 'you': 8044,
 'up': 7467,
 'for': 2743,
 'still': 6688,
 'tb': 6964,
 'xxx': 7990,
 'chgs': 1437,
 'send': 6158,
 'rcv': 5690,
 'even': 2433,
 'my': 4658,
 'brother': 1157,
 'is': 3641,
 'not': 4840,
 'speak': 6547,
 'with': 7868,
 'me': 4374,
 'they': 7088,
 'treat': 7298,
 'aids': 427,
 'patent': 5157,
 'as': 659,
 'per': 5199,
 'your': 8050,
 'request': 5841,
 'melle': 4404,
 'oru': 5028,
 'minnaminunginte': 4471,
 'nurungu': 4875,
 'vettam': 7566,
 'has': 3192,
 'set': 6185,
 'callertune': 1258,
 'all': 464,
 'callers': 1257,
 'press': 5476,
 'copy': 1701,
 'friends': 2816,
 'winner': 7851,
 'valued': 7535,
 'network': 4752,
 'customer': 1834,
 'have': 3205,
 'selected': 6144,
 'receivea': 5733,
 'prize': 5508,
 'reward': 5896,
 'claim': 1489,
 'call': 1248,
 'code': 1555,
 'kl341': 3874,
 'valid': 7531,
 'hours': 3382,
 'had': 3134,
 'mobile': 4524,
 'months': 4564,
 'or': 5005,
 'more': 4568,
 'entitled': 2381,
 'update': 7472,
 'the': 7062,
 'latest': 3961,
 'colour': 1576,
 'mobiles': 4525,
 'camera': 1270,
 'co': 1544,
 'on': 4960,
 'gonna': 3009,
 'be': 873,
 'home': 3336,
 'soon': 6501,
 'want': 7680,
 'talk': 6931,
 'about': 294,
 'this': 7104,
 'stuff': 6755,
 'anymore': 558,
 'tonight': 7227,
 've': 7550,
 'cried': 1779,
 'enough': 2371,
 'today': 7198,
 'six': 6363,
 'chances': 1378,
 'cash': 1324,
 'from': 2832,
 'pounds': 5417,
 'csh11': 1798,
 'cost': 1713,
 '150p': 44,
 'day': 1893,
 '6days': 233,
 'tsandcs': 7333,
 'reply': 5834,
 'hl': 3308,
 'info': 3557,
 'urgent': 7490,
 'won': 7899,
 'membership': 4410,
 'our': 5041,
 'jackpot': 3682,
 'www': 7972,
 'dbuk': 1898,
 'net': 4746,
 'lccltd': 3978,
 'pobox': 5334,
 '4403ldnw1a7rw18': 173,
 'searching': 6113,
 'right': 5908,
 'words': 7916,
 'thank': 7047,
 'breather': 1126,
 'promise': 5540,
 'wont': 7906,
 'take': 6923,
 'help': 3252,
 'granted': 3058,
 'will': 7837,
 'fulfil': 2850,
 'wonderful': 7903,
 'blessing': 1002,
 'at': 695,
 'times': 7157,
 'date': 1886,
 'sunday': 6823,
 'xxxmobilemovieclub': 7991,
 'use': 7504,
 'credit': 1769,
 'click': 1512,
 'wap': 7685,
 'link': 4072,
 'next': 4769,
 'message': 4428,
 'http': 3403,
 'com': 1579,
 'qjkgighjjgcbl': 5617,
 'oh': 4934,
 'watching': 7707,
 'eh': 2305,
 'remember': 5801,
 'how': 3388,
 'spell': 6562,
 'his': 3299,
 'name': 4679,
 'yes': 8027,
 'did': 2027,
 'naughty': 4706,
 'make': 4283,
 'wet': 7785,
 'fine': 2650,
 'if': 3476,
 'thatåõs': 7060,
 'way': 7719,
 'feel': 2593,
 'its': 3660,
 'gota': 3030,
 'england': 2362,
 'macedonia': 4245,
 'dont': 2151,
 'miss': 4487,
 'goals': 2989,
 'team': 6976,
 'news': 4765,
 'ur': 7486,
 'national': 4700,
 'eg': 2300,
 'try': 7329,
 'wales': 7660,
 'scotland': 6092,
 '4txt': 196,
 'ì¼1': 8094,
 'poboxox36504w45wq': 5346,
 'that': 7056,
 'seriously': 6178,
 'going': 2998,
 'ha': 3130,
 'ì_': 8093,
 'pay': 5169,
 'first': 2667,
 'when': 7797,
 'da': 1851,
 'stock': 6691,
 'comin': 1590,
 'aft': 397,
 'finish': 2653,
 'lunch': 4211,
 'str': 6716,
 'down': 2172,
 'lor': 4154,
 'ard': 617,
 'smth': 6442,
 'ffffffffff': 2612,
 'alright': 478,
 'can': 1274,
 'meet': 4393,
 'sooner': 6502,
 'just': 3787,
 'forced': 2745,
 'myself': 4663,
 'eat': 2270,
 'slice': 6394,
 'really': 5715,
 'hungry': 3423,
 'tho': 7111,
 'sucks': 6792,
 'mark': 4320,
 'getting': 2946,
 'worried': 7927,
 'knows': 3885,
 'sick': 6312,
 'turn': 7352,
 'pizza': 5289,
 'lol': 4131,
 'always': 487,
 'convincing': 1689,
 'catch': 1334,
 'bus': 1206,
 'are': 618,
 'frying': 2838,
 'an': 514,
 'egg': 2302,
 'tea': 6970,
 'eating': 2273,
 'mom': 4545,
 'left': 4001,
 'over': 5062,
 'dinner': 2059,
 'do': 2110,
 'love': 4175,
 'amp': 506,
 'we': 7724,
 're': 5694,
 'packing': 5088,
 'car': 1296,
 'll': 4104,
 'let': 4022,
 'know': 3882,
 'room': 5949,
 'ahhh': 422,
 'work': 7917,
 'vaguely': 7527,
 'what': 7790,
 'does': 2122,
 'wait': 7654,
 'clear': 1506,
 'were': 7774,
 'sure': 6849,
 'being': 913,
 'sarcastic': 6048,
 'why': 7820,
 'doesn': 2124,
 'live': 4096,
 'us': 7500,
 'yeah': 8015,
 'was': 7694,
 'apologetic': 578,
 'fallen': 2547,
 'out': 5044,
 'she': 6230,
 'actin': 339,
 'spoilt': 6589,
 'child': 1445,
 'caught': 1338,
 'till': 7154,
 'but': 1213,
 'doing': 2137,
 'too': 7231,
 'badly': 791,
 'cheers': 1421,
 'tell': 6994,
 'anything': 564,
 'fear': 2585,
 'of': 4912,
 'fainting': 2539,
 'housework': 3386,
 'quick': 5628,
 'cuppa': 1823,
 'thanks': 7048,
 'subscription': 6780,
 'ringtone': 5917,
 'uk': 7398,
 'charged': 1390,
 'month': 4561,
 'please': 5314,
 'confirm': 1644,
 'by': 1229,
 'replying': 5835,
 'yup': 8072,
 'look': 4142,
 'timings': 7161,
 'msg': 4603,
 'again': 405,
 'xuhui': 7986,
 'learn': 3991,
 '2nd': 117,
 'her': 3265,
 'lesson': 4020,
 '8am': 259,
 'oops': 4983,
 'roommate': 5951,
 'done': 2149,
 'see': 6130,
 'letter': 4024,
 'decide': 1916,
 'hello': 3249,
 'saturday': 6060,
 'texting': 7038,
 'decided': 1917,
 'tomo': 7216,
 'trying': 7331,
 'invite': 3615,
 'pls': 5322,
 'ahead': 421,
 'watts': 7715,
 'wanted': 7682,
 'weekend': 7750,
 'abiola': 290,
 'forget': 2751,
 'need': 4726,
 'crave': 1759,
 'most': 4576,
 'sweet': 6880,
 'arabian': 614,
 'steed': 6672,
 'mmmmmm': 4514,
 'yummy': 8067,
 'rodger': 5939,
 'burns': 1203,
 'tried': 7307,
 'sms': 6437,
 'nokia': 4812,
 'camcorder': 1268,
 'delivery': 1956,
 'tomorrow': 7218,
 'who': 7813,
 'seeing': 6132,
 'hope': 3354,
 'man': 4293,
 'well': 7765,
 'endowed': 2352,
 'am': 489,
 'lt': 4198,
 'gt': 3098,
 'inches': 3526,
 'calls': 1263,
 'messages': 4430,
 'missed': 4489,
 'didn': 2029,
 'get': 2938,
 'hep': 3264,
 'immunisation': 3505,
 'nigeria': 4779,
 'fair': 2540,
 'hopefully': 3357,
 'tyler': 7381,
 'could': 1724,
 'maybe': 4367,
 'ask': 669,
 'bit': 979,
 'stubborn': 6744,
 'hospital': 3369,
 'kept': 3831,
 'telling': 6995,
 'weak': 7725,
 'sucker': 6790,
 'hospitals': 3370,
 'suckers': 6791,
 'thinked': 7096,
 'time': 7156,
 'saw': 6067,
 'class': 1498,
 'gram': 3050,
 'usually': 7516,
 'runs': 5992,
 'half': 3146,
 'eighth': 2308,
 'smarter': 6417,
 'gets': 2942,
 'almost': 473,
 'whole': 7814,
 'second': 6117,
 'fyi': 2870,
 'ride': 5907,
 'morning': 4572,
 'crashing': 1758,
 'place': 5291,
 'wow': 7943,
 'never': 4756,
 'realized': 5713,
 'embarassed': 2333,
 'accomodations': 321,
 'thought': 7116,
 'liked': 4051,
 'since': 6337,
 'best': 933,
 'seemed': 6136,
 'happy': 3181,
 'cave': 1342,
 'sorry': 6511,
 'give': 2967,
 'offered': 4919,
 'embarassing': 2334,
 'ac': 307,
 'sptv': 6611,
 'new': 4760,
 'jersey': 3723,
 'devils': 2008,
 'detroit': 2002,
 'red': 5755,
 'wings': 7849,
 'play': 5305,
 'ice': 3457,
 'hockey': 3321,
 'correct': 1706,
 'incorrect': 3537,
 'end': 2348,
 'mallika': 4292,
 'sherawat': 6237,
 'yesterday': 8029,
 'find': 2647,
 'url': 7496,
 'congrats': 1650,
 'year': 8016,
 'special': 6549,
 'cinema': 1484,
 'pass': 5146,
 'yours': 8054,
 'suprman': 6847,
 'matrix3': 4353,
 'starwars3': 6653,
 'etc': 2421,
 'bx420': 1227,
 'ip4': 3624,
 '5we': 225,
 '150pm': 46,
 'later': 3960,
 'meeting': 4395,
 'where': 7801,
 'reached': 5697,
 'gauti': 2904,
 'sehwag': 6141,
 'odi': 4911,
 'series': 6176,
 'pick': 5261,
 'burger': 1198,
 'yourself': 8055,
 'move': 4589,
 'pain': 5095,
 'killing': 3856,
 'good': 3011,
 'joke': 3749,
 'girls': 2964,
 'situation': 6360,
 'seekers': 6133,
 'part': 5135,
 'checking': 1415,
 'iq': 3630,
 'roommates': 5952,
 'took': 7232,
 'forever': 2748,
 'come': 1585,
 'double': 2165,
 'check': 1411,
 'hair': 3141,
 'dresser': 2195,
 'said': 6018,
 'wun': 7971,
 'cut': 1838,
 'short': 6272,
 'nice': 4773,
 'pleased': 5315,
 'advise': 380,
 'following': 2726,
 'recent': 5736,
 'review': 5894,
 'mob': 4522,
 'awarded': 755,
 'bonus': 1043,
 'song': 6496,
 'dedicated': 1927,
 'which': 7807,
 'dedicate': 1926,
 'valuable': 7533,
 'frnds': 2824,
 'rply': 5968,
 'complimentary': 1619,
 'trip': 7308,
 'eurodisinc': 2427,
 'trav': 7290,
 'aco': 335,
 'entry41': 2385,
 'dis': 2071,
 'morefrmmob': 4569,
 'shracomorsglsuplt': 6297,
 'ls1': 4194,
 '3aj': 149,
 'hear': 3228,
 'divorce': 2100,
 'barbie': 822,
 'comes': 1587,
 'ken': 3829,
 'plane': 5297,
 'wah': 7647,
 'lucky': 4205,
 'save': 6063,
 'money': 4552,
 'hee': 3241,
 'finished': 2655,
 'hi': 3281,
 'babe': 777,
 'im': 3493,
 'wanna': 7678,
 'something': 6484,
 'xx': 7987,
 'performed': 5206,
 'waiting': 7657,
 'machan': 4247,
 'once': 4964,
 'thats': 7059,
 'cool': 1694,
 'gentleman': 2929,
 'dignity': 2049,
 'respect': 5861,
 'peoples': 5198,
 'very': 7565,
 'much': 4621,
 'shy': 6307,
 'pa': 5084,
 'operate': 4990,
 'after': 398,
 'same': 6033,
 'looking': 4146,
 'job': 3738,
 'ta': 6908,
 'earn': 2259,
 'ah': 419,
 'stop': 6701,
 'urgnt': 7493,
 'real': 5706,
 'yo': 8039,
 'tickets': 7144,
 'one': 4966,
 'jacket': 3681,
 'used': 7505,
 'multis': 4630,
 'started': 6648,
 'requests': 5842,
 'came': 1269,
 'bed': 890,
 'coins': 1561,
 'factory': 2529,
 'gotta': 3035,
 'nitros': 4797,
 'ela': 2313,
 'kano': 3810,
 'il': 3488,
 'download': 2173,
 'wen': 7768,
 'stand': 6636,
 'close': 1519,
 'another': 541,
 'night': 4781,
 'spent': 6567,
 'late': 3957,
 'afternoon': 400,
 'casualty': 1332,
 'means': 4381,
 'haven': 3206,
 'any': 555,
 'stuff42moro': 6756,
 'includes': 3530,
 'sheets': 6232,
 'smile': 6425,
 'pleasure': 5317,
 'trouble': 7315,
 'pours': 5419,
 'rain': 5651,
 'sum1': 6814,
 'hurts': 3433,
 'becoz': 888,
 'someone': 6478,
 'loves': 4183,
 'smiling': 6429,
 'service': 6181,
 'representative': 5839,
 'between': 942,
 '10am': 27,
 '9pm': 270,
 'guaranteed': 3101,
 'havent': 3207,
 'planning': 5301,
 'buy': 1218,
 'lido': 4035,
 'show': 6288,
 'collected': 1570,
 'simply': 6334,
 'password': 5153,
 'mix': 4505,
 'verify': 7561,
 'usher': 7511,
 'britney': 1147,
 'fml': 2717,
 'telugu': 7000,
 'movie': 4592,
 'abt': 302,
 'loads': 4110,
 'loans': 4112,
 'wk': 7878,
 'hols': 3334,
 'run': 5990,
 'forgot': 2756,
 'hairdressers': 3143,
 'appointment': 594,
 'four': 2774,
 'shower': 6290,
 'beforehand': 902,
 'cause': 1339,
 'prob': 5513,
 'ham': 3152,
 'nothing': 4845,
 'else': 2327,
 'okay': 4940,
 'price': 5489,
 'long': 4138,
 'legal': 4004,
 'them': 7071,
 'ave': 742,
 'ams': 510,
 'gone': 3007,
 '4the': 194,
 'driving': 2204,
 'test': 7024,
 'yet': 8030,
 'mean': 4377,
 'guess': 3107,
 'gave': 2905,
 'boston': 1064,
 'men': 4414,
 'changed': 1380,
 'search': 6112,
 'location': 4115,
 'nyc': 4886,
 'cuz': 1845,
 'signin': 6322,
 'page': 5091,
 'says': 6071,
 'umma': 7405,
 'life': 4038,
 'vava': 7547,
 'lot': 4162,
 'dear': 1906,
 'wishes': 7862,
 'birthday': 977,
 'making': 4287,
 'truly': 7324,
 'memorable': 4411,
 'aight': 429,
 'hit': 3301,
 'would': 7939,
 'ip': 3623,
 'address': 357,
 'considering': 1662,
 'computer': 1625,
 'isn': 3648,
 'minecraft': 4465,
 'server': 6180,
 'grumpy': 3095,
 'old': 4952,
 'people': 5197,
 'better': 939,
 'lying': 4225,
 'jokes': 3751,
 'worry': 7929,
 'busy': 1212,
 'plural': 5326,
 'noun': 4852,
 'research': 5847,
 'cos': 1711,
 'things': 7094,
 'scared': 6077,
 'mah': 4270,
 'loud': 4170,
 'gent': 2927,
 'contact': 1667,
 'last': 3954,
 'weekends': 7751,
 'draw': 2187,
 'shows': 6296,
 'k52': 3793,
 '12hrs': 38,
 '150ppm': 48,
 'wa': 7642,
 'openin': 4987,
 'sentence': 6169,
 'formal': 2760,
 'anyway': 567,
 'juz': 3792,
 'tt': 7339,
 'eatin': 2272,
 'puttin': 5606,
 'weight': 7756,
 'haha': 3137,
 'anythin': 563,
 'happened': 3173,
 'entered': 2374,
 'cabin': 1236,
 'boss': 1063,
 'felt': 2602,
 'askd': 670,
 'invited': 3616,
 'apartment': 572,
 'went': 7771,
 'specially': 6553,
 'holiday': 3331,
 'flights': 2693,
 'inc': 3524,
 'operator': 4991,
 '0871277810910p': 15,
 'min': 4458,
 'goodo': 3020,
 'must': 4649,
 'friday': 2811,
 'potato': 5411,
 'ratio': 5680,
 'tortilla': 7249,
 'needed': 4728,
 'hmm': 3313,
 'uncle': 7414,
 'informed': 3560,
 'paying': 5174,
 'school': 6083,
 'directly': 2065,
 'food': 2733,
 'private': 5505,
 'account': 324,
 'statement': 6656,
 'unredeemed': 7458,
 'points': 5356,
 'identifier': 3469,
 'expires': 2500,
 'caller': 1256,
 'landline': 3934,
 'box42wr29c': 1090,
 'apples': 589,
 'pairs': 5099,
 'malarky': 4289,
 'todays': 7199,
 'voda': 7611,
 'numbers': 4872,
 'ending': 2350,
 'award': 754,
 'match': 4341,
 'quoting': 5639,
 'standard': 6637,
 'rates': 5678,
 'app': 582,
 'sao': 6042,
 'mu': 4619,
 'ìï': 8096,
 'predict': 5451,
 'buying': 1221,
 'yetunde': 8032,
 'hasn': 3194,
 'sent': 6168,
 'bother': 1067,
 'sending': 6160,
 'involve': 3620,
 'shouldn': 6283,
 'imposed': 3512,
 'apologise': 579,
 'girl': 2961,
 'del': 1946,
 'bak': 799,
 'sum': 6813,
 'lucyxx': 4208,
 'tmorrow': 7184,
 'accomodate': 320,
 'answer': 544,
 'sunshine': 6830,
 'quiz': 5635,
 'top': 7240,
 'sony': 6498,
 'dvd': 2247,
 'player': 5307,
 'country': 1731,
 'algarve': 457,
 'ansr': 543,
 'sp': 6534,
 'tyrone': 7385,
 'laid': 3926,
 'dogging': 2131,
 'locations': 4116,
 'direct': 2064,
 'join': 3746,
 'largest': 3951,
 'bt': 1173,
 'txting': 7374,
 'gravel': 3063,
 'nt': 4862,
 'ec2a': 2275,
 '31p': 146,
 'haf': 3136,
 'msn': 4610,
 'yijue': 8036,
 'hotmail': 3377,
 'him': 3292,
 'rooms': 5953,
 'befor': 900,
 'activities': 345,
 'msgs': 4609,
 'chat': 1401,
 'svc': 6865,
 'hardcore': 3183,
 'services': 6182,
 'age': 408,
 'yr': 8062,
 'lazy': 3977,
 'type': 7382,
 'lect': 3998,
 'pouch': 5414,
 'sir': 6349,
 'mail': 4275,
 'swt': 6894,
 'nver': 4880,
 'tired': 7164,
 'little': 4095,
 'lovable': 4174,
 'persons': 5224,
 'coz': 1744,
 'somtimes': 6493,
 'those': 7112,
 'occupy': 4904,
 'biggest': 959,
 'their': 7068,
 'hearts': 3234,
 'gud': 3103,
 'ni8': 4771,
 'open': 4984,
 'ya': 8000,
 'dot': 2164,
 'whats': 7792,
 'staff': 6628,
 'taking': 6928,
 'replied': 5832,
 'randy': 5671,
 'sexy': 6198,
 'female': 2603,
 'local': 4114,
 'luv': 4216,
 'netcollex': 4747,
 'ltd': 4199,
 '08700621170150p': 8,
 'ummma': 7407,
 'begin': 906,
 'qatar': 5612,
 'pray': 5446,
 'hard': 3182,
 'deleted': 1950,
 'sindu': 6339,
 'birla': 973,
 'soft': 6464,
 'wine': 7847,
 'flowing': 2708,
 'nevering': 4757,
 'thk': 7105,
 'plaza': 5312,
 'typical': 7384,
 'everywhere': 2451,
 'dirt': 2068,
 'floor': 2702,
 'windows': 7844,
 'shirt': 6251,
 'sometimes': 6486,
 'mouth': 4588,
 'dream': 2190,
 'without': 7872,
 'chores': 1472,
 'joy': 3764,
 'lots': 4164,
 'tv': 7357,
 'exist': 2485,
 'hail': 3140,
 'mist': 4497,
 'become': 886,
 'aaooooright': 280,
 'leaving': 3997,
 'house': 3383,
 'interview': 3602,
 'boy': 1095,
 'missing': 4491,
 'annoncement': 534,
 'years': 8017,
 'arrange': 645,
 'keep': 3824,
 'safe': 6013,
 'because': 884,
 'envy': 2390,
 'everyone': 2445,
 'parents': 5128,
 'hand': 3155,
 'excited': 2473,
 'each': 2253,
 'spend': 6565,
 'bootydelious': 1056,
 'inviting': 3617,
 'friend': 2815,
 'frnd': 2823,
 'bangbabes': 813,
 'order': 5013,
 'should': 6281,
 'content': 1671,
 'goto': 3034,
 'bangb': 812,
 'internet': 3601,
 'menu': 4421,
 'cultures': 1817,
 'module': 4538,
 's89': 6003,
 'avoid': 748,
 'missunderstding': 4495,
 'wit': 7867,
 'beloved': 923,
 'escape': 2411,
 'fancy': 2558,
 'bridge': 1132,
 'needs': 4731,
 ...}

In [24]:
print(X)

0       go until jurong point, crazy.. available only ...
1                           ok lar... joking wif u oni...
2       free entry in a wkly comp to win fa cup final ...
3       u dun say so early hor... u c already then say...
4       nah i don't think he goes to usf, he lives aro...
                              ...
5567    this is the 2nd time we have tried contact u. ...
5568                will ì_ b going to esplanade fr home?
5569    pity, * was in mood for that. so...any other s...
5570    the guy did some bitching but i acted like i'd...
5571                           rofl. its true to its name
Name: v2, Length: 5572, dtype: object

In [27]:
from sklearn.preprocessing import LabelEncoder
X = df['v2'].to_numpy()
Y = df['v1'].to_numpy()


label_encoder = LabelEncoder()
y = label_encoder.fit_transform(Y)

In [28]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [29]:
from sklearn.feature_extraction.text import CountVectorizer

vector = CountVectorizer()
X_train_count = vector.fit_transform(X_train)
X_test_count = vector.transform(X_test)

In [30]:
print(len(vector.vocabulary_))

print(X_train_count.shape)
print(X_test_count.shape)

7735
(4457, 7735)
(1115, 7735)

In [25]:
vec = CountVectorizer(stop_words='english')
vec.fit(X)
vec.vocabulary_

{'jurong': 3659,
 'point': 5176,
 'crazy': 1706,
 'available': 706,
 'bugis': 1138,
 'great': 2969,
 'world': 7662,
 'la': 3784,
 'buffet': 1136,
 'cine': 1429,
 'got': 2929,
 'amore': 486,
 'wat': 7461,
 'ok': 4778,
 'lar': 3820,
 'joking': 3627,
 'wif': 7569,
 'oni': 4804,
 'free': 2700,
 'entry': 2310,
 'wkly': 7620,
 'comp': 1545,
 'win': 7581,
 'fa': 2440,
 'cup': 1764,
 'final': 2556,
 'tkts': 6954,
 '21st': 80,
 'text': 6823,
 'receive': 5550,
 'question': 5445,
 'std': 6463,
 'txt': 7136,
 'rate': 5497,
 'apply': 563,
 '08452810075over18': 6,
 'dun': 2173,
 'say': 5885,
 'early': 2192,
 'hor': 3250,
 'nah': 4527,
 'don': 2086,
 'think': 6878,
 'goes': 2893,
 'usf': 7272,
 'lives': 3970,
 'freemsg': 2707,
 'hey': 3167,
 'darling': 1821,
 'week': 7506,
 'word': 7653,
 'like': 3920,
 'fun': 2758,
 'tb': 6758,
 'xxx': 7727,
 'chgs': 1383,
 'send': 5971,
 'rcv': 5509,
 'brother': 1109,
 'speak': 6345,
 'treat': 7069,
 'aids': 420,
 'patent': 4981,
 'request': 5659,
 'melle': 4268,
 'oru': 4861,
 'minnaminunginte': 4333,
 'nurungu': 4717,
 'vettam': 7327,
 'set': 5997,
 'callertune': 1207,
 'callers': 1206,
 'press': 5297,
 'copy': 1646,
 'friends': 2723,
 'winner': 7592,
 'valued': 7297,
 'network': 4604,
 'customer': 1777,
 'selected': 5957,
 'receivea': 5551,
 'prize': 5329,
 'reward': 5714,
 'claim': 1435,
 'code': 1500,
 'kl341': 3747,
 'valid': 7293,
 'hours': 3270,
 'mobile': 4386,
 'months': 4426,
 'entitled': 2307,
 'update': 7236,
 'latest': 3833,
 'colour': 1521,
 'mobiles': 4387,
 'camera': 1219,
 'gonna': 2909,
 'home': 3224,
 'soon': 6299,
 'want': 7440,
 'talk': 6725,
 'stuff': 6552,
 'anymore': 534,
 'tonight': 7001,
 've': 7312,
 'cried': 1723,
 'today': 6973,
 'chances': 1324,
 'cash': 1270,
 'pounds': 5238,
 'csh11': 1741,
 'cost': 1658,
 '150p': 44,
 'day': 1836,
 '6days': 233,
 'tsandcs': 7104,
 'reply': 5652,
 'hl': 3196,
 'info': 3437,
 'urgent': 7253,
 'won': 7637,
 'membership': 4274,
 'jackpot': 3556,
 'www': 7709,
 'dbuk': 1841,
 'net': 4598,
 'lccltd': 3850,
 'pobox': 5155,
 '4403ldnw1a7rw18': 173,
 'searching': 5930,
 'right': 5726,
 'words': 7654,
 'thank': 6839,
 'breather': 1078,
 'promise': 5361,
 'wont': 7644,
 'help': 3147,
 'granted': 2958,
 'fulfil': 2755,
 'wonderful': 7641,
 'blessing': 956,
 'times': 6933,
 'date': 1829,
 'sunday': 6619,
 'xxxmobilemovieclub': 7728,
 'use': 7266,
 'credit': 1713,
 'click': 1458,
 'wap': 7445,
 'link': 3942,
 'message': 4292,
 'http': 3289,
 'com': 1524,
 'qjkgighjjgcbl': 5437,
 'oh': 4773,
 'watching': 7466,
 'eh': 2238,
 'remember': 5619,
 'spell': 6360,
 'yes': 7764,
 'did': 1967,
 'naughty': 4559,
 'make': 4151,
 'wet': 7541,
 'fine': 2563,
 'thatåõs': 6851,
 'way': 7478,
 'feel': 2511,
 'gota': 2930,
 'england': 2289,
 'macedonia': 4114,
 'dont': 2089,
 'miss': 4349,
 'goals': 2889,
 'team': 6770,
 'news': 4616,
 'ur': 7249,
 'national': 4553,
 'try': 7100,
 'wales': 7420,
 'scotland': 5909,
 '4txt': 196,
 'ì¼1': 7826,
 'poboxox36504w45wq': 5167,
 'seriously': 5990,
 'going': 2898,
 'ha': 3030,
 'ì_': 7825,
 'pay': 4993,
 'da': 1794,
 'stock': 6488,
 'comin': 1535,
 'aft': 394,
 'finish': 2566,
 'lunch': 4080,
 'str': 6513,
 'lor': 4024,
 'ard': 589,
 'smth': 6247,
 'ffffffffff': 2529,
 'alright': 466,
 'meet': 4257,
 'sooner': 6300,
 'just': 3661,
 'forced': 2654,
 'eat': 2204,
 'slice': 6199,
 'really': 5533,
 'hungry': 3308,
 'tho': 6893,
 'sucks': 6588,
 'mark': 4187,
 'getting': 2848,
 'worried': 7665,
 'knows': 3758,
 'sick': 6120,
 'turn': 7123,
 'pizza': 5111,
 'lol': 4001,
 'convincing': 1634,
 'catch': 1280,
 'bus': 1158,
 'frying': 2743,
 'egg': 2235,
 'tea': 6764,
 'eating': 2207,
 'mom': 4407,
 'left': 3872,
 'dinner': 1999,
 'love': 4045,
 'amp': 487,
 'packing': 4913,
 'car': 1242,
 'll': 3974,
 'let': 3892,
 'know': 3755,
 'room': 5767,
 'ahhh': 415,
 'work': 7655,
 'vaguely': 7289,
 'does': 2061,
 'wait': 7414,
 'clear': 1452,
 'sure': 6645,
 'sarcastic': 5865,
 'doesn': 2063,
 'live': 3966,
 'yeah': 7752,
 'apologetic': 550,
 'fallen': 2465,
 'actin': 336,
 'spoilt': 6387,
 'child': 1391,
 'caught': 1284,
 'till': 6930,
 'doing': 2076,
 'badly': 758,
 'cheers': 1367,
 'tell': 6788,
 'fear': 2503,
 'fainting': 2457,
 'housework': 3274,
 'quick': 5448,
 'cuppa': 1766,
 'thanks': 6840,
 'subscription': 6577,
 'ringtone': 5735,
 'uk': 7166,
 'charged': 1336,
 'month': 4423,
 'confirm': 1589,
 'replying': 5653,
 'yup': 7804,
 'look': 4012,
 'timings': 6937,
 'msg': 4461,
 'xuhui': 7723,
 'learn': 3863,
 '2nd': 117,
 'lesson': 3890,
 '8am': 259,
 'oops': 4817,
 'roommate': 5769,
 'letter': 3894,
 'decide': 1858,
 'hello': 3144,
 'saturday': 5877,
 'texting': 6831,
 'decided': 1859,
 'tomo': 6990,
 'trying': 7102,
 'invite': 3493,
 'pls': 5143,
 'ahead': 414,
 'watts': 7474,
 'wanted': 7442,
 'weekend': 7508,
 'abiola': 290,
 'forget': 2660,
 'need': 4579,
 'crave': 1703,
 'sweet': 6676,
 'arabian': 586,
 'steed': 6470,
 'mmmmmm': 4376,
 'yummy': 7799,
 'rodger': 5757,
 'burns': 1155,
 'tried': 7078,
 'sms': 6242,
 'nokia': 4660,
 'camcorder': 1217,
 'delivery': 1898,
 'tomorrow': 6992,
 'seeing': 5948,
 'hope': 3242,
 'man': 4161,
 'endowed': 2279,
 'lt': 4068,
 'gt': 2998,
 'inches': 3407,
 'calls': 1212,
 'messages': 4294,
 'missed': 4351,
 'didn': 1969,
 'hep': 3158,
 'immunisation': 3388,
 'nigeria': 4629,
 'fair': 2458,
 'hopefully': 3245,
 'tyler': 7149,
 'maybe': 4233,
 'ask': 638,
 'bit': 933,
 'stubborn': 6541,
 'hospital': 3257,
 'kept': 3704,
 'telling': 6789,
 'weak': 7483,
 'sucker': 6586,
 'hospitals': 3258,
 'suckers': 6587,
 'thinked': 6879,
 'time': 6932,
 'saw': 5884,
 'class': 1444,
 'gram': 2950,
 'usually': 7278,
 'runs': 5810,
 'half': 3045,
 'eighth': 2240,
 'smarter': 6222,
 'gets': 2844,
 'second': 5934,
 'fyi': 2773,
 'ride': 5725,
 'morning': 4433,
 'crashing': 1702,
 'place': 5113,
 'wow': 7680,
 'realized': 5531,
 'embarassed': 2261,
 'accomodations': 319,
 'thought': 6896,
 'liked': 3921,
 'best': 890,
 'happy': 3080,
 'cave': 1288,
 'sorry': 6309,
 'offered': 4759,
 'embarassing': 2262,
 'ac': 305,
 'sptv': 6409,
 'new': 4611,
 'jersey': 3597,
 'devils': 1948,
 'detroit': 1942,
 'red': 5573,
 'wings': 7590,
 'play': 5127,
 'ice': 3342,
 'hockey': 3209,
 'correct': 1651,
 'incorrect': 3418,
 'end': 2275,
 'mallika': 4160,
 'sherawat': 6047,
 'yesterday': 7766,
 'url': 7259,
 'congrats': 1595,
 'year': 7753,
 'special': 6347,
 'cinema': 1430,
 'pass': 4970,
 'suprman': 6643,
 'matrix3': 4220,
 'starwars3': 6451,
 'bx420': 1178,
 'ip4': 3502,
 '5we': 225,
 '150pm': 46,
 'later': 3832,
 'meeting': 4259,
 'reached': 5515,
 'gauti': 2807,
 'sehwag': 5954,
 'odi': 4753,
 'series': 5989,
 'pick': 5083,
 'burger': 1150,
 'pain': 4920,
 'killing': 3729,
 'good': 2911,
 'joke': 3623,
 'girls': 2866,
 'situation': 6166,
 'seekers': 5949,
 'checking': 1361,
 'iq': 3508,
 'roommates': 5770,
 'took': 7005,
 'forever': 2657,
 'come': 1530,
 'double': 2103,
 'check': 1357,
 'hair': 3040,
 'dresser': 2132,
 'said': 5836,
 'wun': 7708,
 'cut': 1781,
 'short': 6082,
 'nice': 4623,
 'pleased': 5136,
 'advise': 377,
 'following': 2636,
 'recent': 5554,
 'review': 5712,
 'mob': 4384,
 'awarded': 723,
 'bonus': 997,
 'song': 6294,
 'dedicated': 1869,
 'dedicate': 1868,
 'valuable': 7295,
 'frnds': 2731,
 'rply': 5786,
 'complimentary': 1564,
 'trip': 7079,
 'eurodisinc': 2352,
 'trav': 7061,
 'aco': 333,
 'entry41': 2311,
 'dis': 2011,
 'morefrmmob': 4430,
 'shracomorsglsuplt': 6105,
 'ls1': 4064,
 '3aj': 149,
 'hear': 3123,
 'divorce': 2040,
 'barbie': 789,
 'comes': 1532,
 'ken': 3702,
 'plane': 5119,
 'wah': 7407,
 'lucky': 4074,
 'save': 5880,
 'money': 4414,
 'hee': 3136,
 'finished': 2568,
 'hi': 3172,
 'babe': 745,
 'im': 3376,
 'wanna': 7438,
 'xx': 7724,
 'performed': 5029,
 'waiting': 7417,
 'machan': 4116,
 'thats': 6850,
 'cool': 1639,
 'gentleman': 2832,
 'dignity': 1989,
 'respect': 5679,
 'peoples': 5022,
 'shy': 6115,
 'pa': 4909,
 'operate': 4824,
 'looking': 4016,
 'job': 3612,
 'ta': 6703,
 'earn': 2193,
 'ah': 412,
 'stop': 6498,
 'urgnt': 7256,
 'real': 5524,
 'yo': 7775,
 'tickets': 6920,
 'jacket': 3555,
 'used': 7267,
 'multis': 4487,
 'started': 6446,
 'requests': 5660,
 'came': 1218,
 'bed': 853,
 'coins': 1506,
 'factory': 2447,
 'gotta': 2935,
 'nitros': 4647,
 'ela': 2244,
 'kano': 3684,
 'il': 3371,
 'download': 2110,
 'wen': 7525,
 'stand': 6434,
 'close': 1465,
 'night': 4631,
 'spent': 6365,
 'late': 3829,
 'afternoon': 396,
 'casualty': 1278,
 'means': 4246,
 'haven': 3102,
 'stuff42moro': 6553,
 'includes': 3411,
 'sheets': 6042,
 'smile': 6230,
 'pleasure': 5138,
 'trouble': 7086,
 'pours': 5240,
 'rain': 5471,
 'sum1': 6610,
 'hurts': 3318,
 'becoz': 851,
 'loves': 4053,
 'smiling': 6234,
 'service': 5993,
 'representative': 5657,
 '10am': 27,
 '9pm': 270,
 'guaranteed': 3001,
 'havent': 3103,
 'planning': 5123,
 'buy': 1169,
 'lido': 3905,
 'collected': 1515,
 'simply': 6141,
 'password': 4977,
 'mix': 4367,
 'verify': 7323,
 'usher': 7273,
 'britney': 1099,
 'fml': 2627,
 'telugu': 6794,
 'movie': 4450,
 'abt': 300,
 'loads': 3980,
 'loans': 3982,
 'wk': 7616,
 'hols': 3222,
 'run': 5808,
 'forgot': 2665,
 'hairdressers': 3042,
 'appointment': 566,
 'shower': 6098,
 'cause': 1285,
 'prob': 5334,
 'ham': 3051,
 'okay': 4779,
 'price': 5310,
 'long': 4008,
 'legal': 3875,
 'ave': 710,
 'ams': 491,
 'gone': 2907,
 '4the': 194,
 'driving': 2141,
 'test': 6817,
 'mean': 4242,
 'guess': 3007,
 'gave': 2808,
 'boston': 1018,
 'men': 4278,
 'changed': 1326,
 'search': 5929,
 'location': 3985,
 'nyc': 4728,
 'cuz': 1788,
 'signin': 6129,
 'page': 4916,
 'says': 5888,
 'umma': 7173,
 'life': 3908,
 'vava': 7309,
 'lot': 4032,
 'dear': 1848,
 'wishes': 7603,
 'birthday': 931,
 'making': 4155,
 'truly': 7095,
 'memorable': 4275,
 'aight': 422,
 'hit': 3189,
 'ip': 3501,
 'address': 354,
 'considering': 1607,
 'computer': 1570,
 'isn': 3525,
 'minecraft': 4327,
 'server': 5992,
 'grumpy': 2995,
 'old': 4791,
 'people': 5021,
 'better': 896,
 'lying': 4094,
 'jokes': 3625,
 'worry': 7667,
 'busy': 1164,
 'plural': 5147,
 'noun': 4696,
 'research': 5665,
 'cos': 1656,
 'things': 6877,
 'scared': 5894,
 'mah': 4138,
 'loud': 4040,
 'gent': 2830,
 'contact': 1612,
 'weekends': 7509,
 'draw': 2124,
 'shows': 6104,
 'k52': 3667,
 '12hrs': 38,
 '150ppm': 48,
 'wa': 7402,
 'openin': 4821,
 'sentence': 5982,
 'formal': 2669,
 'juz': 3666,
 'tt': 7110,
 'eatin': 2206,
 'puttin': 5426,
 'weight': 7514,
 'haha': 3036,
 'anythin': 538,
 'happened': 3072,
 'entered': 2300,
 'cabin': 1186,
 'boss': 1017,
 'felt': 2520,
 'askd': 639,
 'invited': 3494,
 'apartment': 544,
 'went': 7528,
 'specially': 6351,
 'holiday': 3219,
 'flights': 2603,
 'operator': 4825,
 '0871277810910p': 15,
 'min': 4321,
 'goodo': 2920,
 'friday': 2718,
 'potato': 5232,
 'ratio': 5499,
 'tortilla': 7021,
 'needed': 4581,
 'hmm': 3201,
 'uncle': 7181,
 'informed': 3440,
 'paying': 4998,
 'school': 5900,
 'directly': 2005,
 'food': 2643,
 'private': 5326,
 'account': 322,
 'statement': 6454,
 'unredeemed': 7224,
 'points': 5177,
 'identifier': 3354,
 'expires': 2418,
 'caller': 1205,
 'landline': 3807,
 'box42wr29c': 1042,
 'apples': 561,
 'pairs': 4924,
 'malarky': 4157,
 'todays': 6974,
 'voda': 7371,
 'numbers': 4714,
 'ending': 2277,
 'award': 722,
 'match': 4208,
 'quoting': 5459,
 'standard': 6435,
 'rates': 5498,
 'app': 554,
 'sao': 5859,
 'mu': 4477,
 'ìï': 7828,
 'predict': 5272,
 'buying': 1172,
 'yetunde': 7768,
 'hasn': 3092,
 'sent': 5981,
 'bother': 1020,
 'sending': 5973,
 'involve': 3498,
 'shouldn': 6092,
 'imposed': 3395,
 'apologise': 551,
 'girl': 2863,
 'del': 1888,
 'bak': 766,
 'sum': 6609,
 'lucyxx': 4077,
 'tmorrow': 6960,
 'accomodate': 318,
 'answer': 522,
 'sunshine': 6626,
 'quiz': 5455,
 'sony': 6296,
 'dvd': 2182,
 'player': 5129,
 'country': 1675,
 'algarve': 450,
 'ansr': 521,
 'sp': 6332,
 'tyrone': 7153,
 'laid': 3799,
 'dogging': 2070,
 'locations': 3986,
 'direct': 2004,
 'join': 3620,
 'largest': 3824,
 'bt': 1125,
 'txting': 7142,
 'gravel': 2963,
 'nt': 4704,
 'ec2a': 2209,
 '31p': 146,
 'haf': 3035,
 'msn': 4468,
 'yijue': 7772,
 'hotmail': 3265,
 'rooms': 5771,
 'befor': 862,
 'activities': 342,
 'msgs': 4467,
 'chat': 1347,
 'svc': 6661,
 'hardcore': 3082,
 'services': 5994,
 'age': 401,
 'yr': 7794,
 'lazy': 3849,
 'type': 7150,
 'lect': 3869,
 'pouch': 5235,
 'sir': 6155,
 'mail': 4143,
 'swt': 6690,
 'nver': 4722,
 'tired': 6940,
 'little': 3965,
 'lovable': 4044,
 'persons': 5046,
 'coz': 1688,
 'somtimes': 6291,
 'occupy': 4746,
 'biggest': 914,
 'hearts': 3129,
 'gud': 3003,
 'ni8': 4621,
 'open': 4818,
 'ya': 7737,
 'dot': 2102,
 'whats': 7546,
 'staff': 6426,
 'taking': 6722,
 'replied': 5650,
 'randy': 5491,
 'sexy': 6009,
 'female': 2521,
 'local': 3984,
 'luv': 4085,
 'netcollex': 4599,
 '08700621170150p': 8,
 'ummma': 7175,
 'begin': 866,
 'qatar': 5432,
 'pray': 5267,
 'hard': 3081,
 'deleted': 1892,
 'sindu': 6145,
 'birla': 927,
 'soft': 6268,
 'wine': 7588,
 'flowing': 2618,
 'nevering': 4608,
 'thk': 6887,
 'plaza': 5134,
 'typical': 7152,
 'dirt': 2008,
 'floor': 2612,
 'windows': 7585,
 'shirt': 6061,
 'mouth': 4447,
 'dream': 2127,
 'chores': 1418,
 'joy': 3638,
 'lots': 4034,
 'tv': 7128,
 'exist': 2403,
 'hail': 3039,
 'mist': 4359,
 'aaooooright': 280,
 'leaving': 3868,
 'house': 3271,
 'interview': 3481,
 'boy': 1047,
 'missing': 4353,
 'annoncement': 513,
 'years': 7754,
 'arrange': 615,
 'safe': 5831,
 'envy': 2316,
 'parents': 4953,
 'hand': 3054,
 'excited': 2391,
 'spend': 6363,
 'bootydelious': 1010,
 'inviting': 3495,
 'friend': 2722,
 'frnd': 2730,
 'bangbabes': 780,
 'order': 4846,
 'content': 1616,
 'goto': 2934,
 'bangb': 779,
 'internet': 3480,
 'menu': 4285,
 'cultures': 1760,
 'module': 4400,
 's89': 5821,
 'avoid': 716,
 'missunderstding': 4357,
 'wit': 7608,
 'beloved': 881,
 'escape': 2337,
 'fancy': 2476,
 'bridge': 1084,
 'needs': 4584,
 'lager': 3798,
 'completely': 1560,
 'form': 2668,
 'clark': 1441,
 'utter': 7280,
 'waste': 7458,
 'axis': 731,
 'bank': 782,
 'hmmm': 3202,
 'hop': 3241,
 'muz': 4511,
 'discuss': 2024,
 'liao': 3899,
 'coming': 1536,
 'bloody': 970,
 'hell': 3142,
 'believe': 872,
 'surname': 6651,
 'mr': 4456,
 'ill': 3373,
 'clue': 1481,
 'spanish': 6339,
 'begins': 867,
 'bath': 813,
 'carlos': 1259,
 'mall': 4159,
 'turns': 7126,
 'staying': 6461,
 'til': 6929,
 'smoke': 6236,
 'worth': 7671,
 'doesnt': 2064,
 'log': 3992,
 'spoke': 6388,
 'maneesha': 4171,
 'satisfied': 5874,
 'experience': 2413,
 'toll': 6986,
 'lifted': 3914,
 'hopes': 3247,
 'offer': 4758,
 'especially': 2341,
 'approaches': 570,
 'studying': 6550,
 'anyways': 541,
 'gr8': 2943,
 'trust': 7097,
 'guys': 3023,
 'bye': 1181,
 'handsome': 3060,
 'finding': 2561,
 'working': 7659,
 'mummy': 4491,
 'boytoy': 1052,
 'awesome': 725,
 'minute': 4338,
 'freephone': 2708,
 '9am': 268,
 '11pm': 34,
 'xmas': 7720,
 'radio': 5464,
 'jus': 3660,
 'bathe': 814,
 'sis': 6157,
 'using': 7274,
 'finishes': 2569,
 'unique': 7209,
 '30th': 145,
 'august': 692,
 'areyouunique': 595,
 'joined': 3621,
 'league': 3861,
 'touch': 7030,
 'deal': 1844,
 'personal': 5043,
 'finally': 2558,
 'completed': 1559,
 'course': 1681,
 'suggest': 6601,
 'stays': 6462,
 'able': 292,
 'ors': 4859,
 'stool': 6497,
 'settled': 6001,
 'wishin': 7604,
 'mrng': 4458,
 'hav': 3100,
 'story': 6512,
 'hamster': 3053,
 'dead': 1843,
 'tmr': 6961,
 '1pm': 65,
 'orchard': 4845,
 'mrt': 4459,
 'kate': 3689,
 'evening': 2358,
 'babyjontet': 750,
 'enc': 2274,
 'bucks': 1129,
 'darlin': 1820,
 'ive': 3541,
 'college': 1519,
 'refilled': 5583,
 'successfully': 6585,
 'inr': 3455,
 'decimal': 1861,
 'keralacircle': 3706,
 'prepaid': 5283,
 'balance': 769,
 'rs': 5788,
 'transaction': 7051,
 'id': 3348,
 'kr': 3772,
 'goodmorning': 2916,
 'sleeping': 6193,
 'ga': 2776,
 'alter': 468,
 'dat': 1827,
 'ericsson': 2324,
 'oso': 4864,
 'oredi': 4849,
 'dats': 1833,
 'straight': 6515,
 'dogg': 2068,
 'connection': 1600,
 'refund': 5588,
 'shoot': 6076,
 'big': 912,
 'ready': 5523,
 'bruv': 1120,
 'break': 1069,
 'rewarding': 5715,
 'semester': 5967,
 'study': 6549,
 'noe': 4654,
 'leh': 3878,
 'sounds': 6321,
 'heading': 3115,
 'prediction': 5275,
 'slept': 6198,
 'past': 4979,
 'nights': 4634,
 'easy': 2203,
 'sen': 5970,
 'exam': 2387,
 'march': 4182,
 'atm': 670,
 'register': 5596,
 'os': 4862,
 'called': 1204,
 ...}

In [31]:
from sklearn.feature_extraction.text import CountVectorizer
print(vec.get_feature_names_out())
print(len(vec.get_feature_names_out()))

['000pes' '0776xxxxxxx' '077xxx' ... 'ûïharry' 'ûò' 'ûówell']
7839

In [32]:
X_transformed=vec.transform(X)
X_transformed

<5572x7839 sparse matrix of type '<class 'numpy.int64'>'
	with 41815 stored elements in Compressed Sparse Row format>

In [33]:
X=X_transformed.toarray()
X

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]])

In [34]:
pd.DataFrame(X, columns=vec.get_feature_names_out())

,000pes,0776xxxxxxx,077xxx,0789xxxxxxx,0796xxxxxx,07xxxxxxxxx,08452810075over18,08700435505150p,08700621170150p,08701417012150p,...,ó_,û_,û_thanks,ûªm,ûªt,ûªve,ûï,ûïharry,ûò,ûówell
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5567,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5568,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5569,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5570,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5571,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [35]:
#refreance
# https://www.analyticsvidhya.com/blog/2021/08/data-preprocessing-in-data-mining-a-hands-on-guide/
# codeBasics


import pandas as pd
import nltk
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
from nltk.stem import PorterStemmer

# Download NLTK resources (only required for the first time)
nltk.download('punkt')
nltk.download('stopwords')

# Read the dataset
df = pd.read_csv("spam.csv", encoding="latin-1")

# Preprocess the text data
stop_words = set(stopwords.words('english'))
stemmer = PorterStemmer()

def preprocess_text(text):
    # Tokenize the text
    tokens = word_tokenize(text.lower())
    
    # Remove stopwords and punctuation
    filtered_tokens = [token for token in tokens if token.isalpha() and token not in stop_words]
    
    # Stem the words
    stemmed_tokens = [stemmer.stem(token) for token in filtered_tokens]
    
    # Join the tokens back into a single string
    preprocessed_text = ' '.join(stemmed_tokens)
    
    return preprocessed_text

# Apply the preprocessing function to the dataset
df['v1'] = df['v2'].apply(preprocess_text)

# Updated dataset with preprocessed text
print(df.head())

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.
[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

                                                  v1  \
0  go jurong point crazi avail bugi n great world...
1                              ok lar joke wif u oni
2  free entri wkli comp win fa cup final tkt may ...
3                u dun say earli hor u c alreadi say
4               nah think goe usf live around though

                                                  v2 Unnamed: 2 Unnamed: 3  \
0  Go until jurong point, crazy.. Available only ...        NaN        NaN
1                      Ok lar... Joking wif u oni...        NaN        NaN
2  Free entry in 2 a wkly comp to win FA Cup fina...        NaN        NaN
3  U dun say so early hor... U c already then say...        NaN        NaN
4  Nah I don't think he goes to usf, he lives aro...        NaN        NaN

  Unnamed: 4
0        NaN
1        NaN
2        NaN
3        NaN
4        NaN

In [37]:
X_test_transformed=vec.transform(X_test)

X_test_transformed

<1115x7839 sparse matrix of type '<class 'numpy.int64'>'
	with 8331 stored elements in Compressed Sparse Row format>

In [38]:
X_test=X_test_transformed.toarray()
X_test

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]])

In [47]:
from sklearn.naive_bayes import MultinomialNB

In [48]:
nb_classifier = MultinomialNB()

nb_classifier.fit(X_train_count, y_train)

y_pred = nb_classifier.predict(X_test_count)

In [44]:
from sklearn import metrics

In [46]:
accuracy = metrics.accuracy_score(y_test, y_pred)
print("Accuracy:", accuracy)

Accuracy: 0.9838565022421525

In [41]:
from sklearn.metrics import classification_report

y_pred = nb_classifier.predict(X_test_count)
classification_rep = classification_report(y_test, y_pred)
print("Classification Report:")
print(classification_rep)

Classification Report:
              precision    recall  f1-score   support

           0       0.98      1.00      0.99       965
           1       0.99      0.89      0.94       150

    accuracy                           0.98      1115
   macro avg       0.98      0.95      0.96      1115
weighted avg       0.98      0.98      0.98      1115

In [95]:
# from sklearn.metrics import accuracy_score, classification_report
# print("Classification Report:")
# print(classification_report(y_test, y_pred_test))

In [ ]:
print("Ahmed Mujtaba  ")

Ahmed Mujtaba